<hr>
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-toolbar" routerLink="/shelters">Cofnij</button>
    </div>
</div>
<div class="row">
  <div class="col-md-8">
    <form [formGroup]="shelterForm" (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Nazwa: </label>
            <input type="text" id="name" class="form-control" formControlName="name" placeholder="Nazwa...">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="phoneNumber">Telefon kontaktowy: </label>
            <input type="tel" name="phoneNumber" id="phoneNumber" class="form-control" formControlName="phoneNumber" placeholder="Tel. kontaktowy:...">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label for="email">Adres email: </label>
            <input type="email" name="email" id="email" class="form-control" formControlName="email" placeholder="Adres email...">
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="nip">NIP: </label>
            <input type="number" name="nip" id="nip" class="form-control" formControlName="nip" placeholder="NIP...">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label for="regon">REGON: </label>
            <input type="number" name="regon" id="regon" class="form-control" formControlName="regon" placeholder="REGON...">
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="streetName">Ulica: </label>
            <input type="text" name="streetName" id="streetName" class="form-control" formControlName="streetName" placeholder="Ulica...">
          </div>
        </div>
        <div class="col-xs-3">
          <label for="houseNumber">Numer domu: </label>
          <input type="text" name="houseNumber" id="houseNumber" class="form-control" formControlName="houseNumber">
        </div>
        <div class="col-xs-3">
          <label for="flatNumber">Numer mieszkania: </label>
          <input type="text" name="flatNumber" id="flatNumber" class="form-control" formControlName="flatNumber">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="form-group">
            <label for="city">Miejscowość: </label>
            <input type="text" name="city" id="city" class="form-control" formControlName="city" placeholder="Miejscowość...">
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <label for="zipCode">Kod pocztowy: </label>
            <input type="number" name="zipCode" id="zipCode" class="form-control" formControlName="zipCode" placeholder="Kod pocztowy...">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form group">
            <label for="description">Opis: </label>
            <textarea cols="8" name="description" id="description" class="form-control" formControlName="description"></textarea>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <div class="form group">
            <label for="logo">Link do logo: </label>
            <input type="text" name="logo" id="logo" class="form-control" formControlName="logo">
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-3">
          <div class="form-group">
            <button type="submit" class="btn btn-success">Dodaj</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
