<section class="calendar" id="jsx-calendar">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <ejs-calendar
          id="calendar"
          (change)="ScheduleEvent($event)"
          [min]="minDate"
        ></ejs-calendar>
      </div>
      <div class="col-md-3">
        <div *ngIf="finalObj.length > 0">
          <h1>Wybrany czas to:</h1>
          <ul class="ul-sch">
            <li>
              <span class="marker"></span>
              <span class="date-format"
                >{{ selectedDate | date: "fullDate" }} @</span
              >
              <span
                style="display: block; font-weight: bold"
                class="time-format" 
              >
                {{ savedTime }}</span
              >
            </li>
          </ul>
          <button class="btn-confirm" (click)="onConfirmScheduling()">Potwierdź wybór</button>
        </div>
      </div>
    </div>
  </div>
</section>
<button
  id="schModel"
  style="opacity: 0"
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#exampleModal"
>
  Launch demo modal
</button>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          style="color: red"
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4
          style="display: block; margin-bottom: 2px;"
          class="modal-title"
          id="exampleModalLabel"
        >
           Proszę wybrać godzinę:
        </h4>
        <p style="font-size: 12px; display: block">
          {{ selectedDate | date: "fullDate" }}
        </p>
        <div>
          <div class="row">
            <div class="col-md-4">
              <h4 class="text-center">Rano</h4>
              <ul class="time-slots">
                <li
                  [ngClass]="{ 'selected-time': data?.time === savedTime }"
                  (click)="SaveTime(data?.time, $event)"
                  *ngFor="let data of morningtime"
                >
                  {{ data?.time }}
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <h4 class="text-center">Południe</h4>
              <ul class="time-slots">
                <li
                  [ngClass]="{ 'selected-time': data?.time === savedTime }"
                  (click)="SaveTime(data?.time, $event)"
                  *ngFor="let data of afternoontime"
                >
                  {{ data?.time }}
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <h4 class="text-center">Wieczór</h4>
              <ul class="time-slots">
                <li
                  [ngClass]="{ 'selected-time': data?.time === savedTime }"
                  (click)="SaveTime(data?.time, $event)"
                  *ngFor="let data of eveningtime"
                >
                  {{ data?.time }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div>
          <span class="mat-error" *ngIf="showErr">* Proszę wybrać godzinę</span>
        </div>
      </div>
      <div class="modal-footer">
        <button
          id="cls"
          type="button"
          class="btn btn-secondary btn-cancel"
          data-dismiss="modal"
        >
          Anuluj
        </button>
        <button
          (click)="confirmSch()"
          type="button"
          class="btn btn-primary btn-save"
        >
          Potwierdź
        </button>
      </div>
    </div>
  </div>
</div>
